@font-face {
    font-family: MAGDE;
    src: url(../CSS/MAGDE.TTF)
}

@font-face {
    font-family: HandWriting;
    src: url(../CSS/HandwritingItalic.TTF)
}

@font-face {
    font-family: BlueLine;
    src: url(../CSS/BLUELINE.TTF)
}