#box{
    position: absolute;
    width: 60%;
    left: 25%;
    background-color: rgb(2555,255,255,0.7);
    border-radius: 4%;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 2%;
}
body{
    background-image: url("../image/intro_bg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
html{
    height: 100%;
}
.para{
    text-indent: 2em;
}
h1{
    font-size: 2vw;
    font-family: STXinwei;
}
h2{
    font-size: 1.6vw;
    font-family: STkaiti;
}
p{
    font-size: 1.3vw;
    font-family: 楷体;
}
.girl{
    position: absolute;
    width:13%;
    margin-top: 22%;
    margin-left: 15%;
    z-index: 1;
    background-color: transparent;
    border-radius: 6%;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
.man{
    position: absolute;
    width:13%;
    margin-top: 40%;
    margin-left: 15%;
    z-index: 1;
    background-color: transparent;
    border-radius: 6%;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
.back {
    position: absolute;
    width: 10%;
    left: 1%;
    height: 6%;
    color: #fff;
    border-radius: 5px;
    padding: 1% 1%;
    padding-bottom: 2.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1.6vw;
    font-family: 楷体;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .back:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
  }
  .back:hover {
    color: #fff;
    border: none;
    background: transparent;
  }
  .back:hover:after {
    background: rgb(48, 51, 255);
  background: linear-gradient(0deg, rgb(114, 2, 251) 0%,  rgb(2, 4, 160)100%);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  